<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-list *ngIf="user">
      <mat-list-item>
         <mat-icon mat-list-icon>account_circle</mat-icon>
         <h4 mat-line>{{ user.name }}</h4>
         <p mat-line class="demo-2"> {{ user.email }} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
   </mat-list>
    <mat-nav-list>
      <h3 mat-subheader>Menu</h3>
      <a mat-list-item routerLink="/admin/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/admin/form">
        <mat-icon mat-list-icon>dns</mat-icon>
        Form
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        Logout
      </a>
      <button (click)="change()">change</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-auth</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
