<mat-sidenav-container class="h-full">
  <mat-sidenav #drawer class="w-60" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    @if (user) {
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <h4 matListItemTitle>{{ user.name }}</h4>
          <p matListItemLine class="demo-2"> {{ user.email }} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    }
    <mat-nav-list>
      <div mat-subheader>Admin</div>
      <a mat-list-item routerLink="/admin/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/admin/products">
        <mat-icon matListItemIcon>dataset</mat-icon>
        Products
      </a>
      <a mat-list-item routerLink="/admin/categories">
        <mat-icon matListItemIcon>dns</mat-icon>
        Categories
      </a>
      <mat-divider></mat-divider>
      <div div mat-subheader>Users</div>
      <a mat-list-item routerLink="/admin/users">
        <mat-icon matListItemIcon>group</mat-icon>
        Users
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
