.container {
  background-color: #3f51b5;
  display: block;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.login-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.login-card form {
  padding: 20px;
}
