<div
  class="w-80 max-w-full px-3 py-3.5 rounded-xl border border-base-content/10 bg-base-100"
>
  <div
    class="flex max-h-64 flex-col divide-y divide-base-content/5 overflow-y-auto overscroll-contain [scrollbar-width:thin] [scrollbar-color:color-mix(in_oklab,var(--color-base-content)_25%,transparent)_transparent] [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-base-content/20 hover:[&::-webkit-scrollbar-thumb]:bg-base-content/35"
  >
    <ng-content />
  </div>
  <div
    class="divider my-3 before:bg-base-content/10 after:bg-base-content/10"
  ></div>
  <div class="flex justify-between items-center px-1.5 pt-0.5 pb-0.5">
    <span class="text-sm text-base-content/60 uppercase tracking-wider"
      >Total</span
    >
    <span class="text-lg font-medium text-base-content">{{
      total() | currency: '$' : 'symbol' : '1.0'
    }}</span>
  </div>
</div>
