<mat-toolbar color="primary">
  <button (click)="toggleDrawer()" type="button" aria-label="Toggle sidenav" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Products @if (counter()) {
    <span>({{ counter() }})</span>
  } </span>
</mat-toolbar>
@if (showProgress()) {
  <mat-progress-bar mode="query"></mat-progress-bar>
}
<mat-card>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categorySelected">
        <mat-option value="all">All</mat-option>
        @for (category of categories(); track category.id) {
          <mat-option [value]="category.id">{{category.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if(isMobile()) {
      @defer {
        <app-list [products]="products()" />
      }
    } @else {
      @defer {
        <app-table [products]="products()" />
      }
    }
  </mat-card-content>
</mat-card>
