.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0px;
  bottom: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
