<div class="flex mt-5 flex-col md:flex-row md:space-x-4">
  <div class="w-full mb-4 md:w-56">
    <ul class="text-center md:text-left">
      <li>
        <a routerLink="/">All</a>
      </li>
      @for (category of categoriesResource.value(); track category) {
        <li>
          <a routerLink="/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
      }
    </ul>
  </div>
  <div class="grid grid-cols-2 gap-8 w-full md:grid-cols-4">
    @for (product of productsResource.value(); track product) {
      <app-product [product]="product" (addToCart)="addToCart($event)" />
    }
  </div>
</div>
